{% extends 'core/index.html' %}
{% load static %}



{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=В26b914ca-5401-44b0-b136-b7d9c35bb1a8&lang=ru_RU"
            type="text/javascript"></script>
    <script src="https://unpkg.com/@vkid/sdk@latest/dist-sdk/umd/index.js"></script>
    <script src="{% static 'auth_vk/js/auth_vk.js' %}"></script>
    <script src="{% static 'map_manager/js/renderPlaces.js' %}"></script>
    <script src="{% static 'map_manager/js/formManager.js' %}"></script>
    <script src="{% static 'map_manager/js/editManager.js' %}"></script>
    <link rel="stylesheet" href="{% static 'map_manager/css/map.css' %}?={{ rand_num }}">
{% endblock %}
<body>

{% block content %}
    <div class="error_message">
        <button class="error_message__close-button">X</button>
        <span>        Не забудь добавить геопозицию воспоминания) Сделать это можно
        нажав на карту и перемещаю точку</span>

    </div>
    <div class="content">
        <div class="places-column">
            <div id="firs-el"></div>
            <div class="places-column__item" id="inputForm">
                <button class="close-button">
                    X
                </button>
                <form class="input-form" action="{% url 'map_manager:create_memories' %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="input-form__item">
                        <div class="input-form__tittle">
                            Название (макс 100 символов)
                        </div>
                        <label>
                            <input required maxlength="100" name="title" type="text"
                                   placeholder="Жоский концерт сабатона...">
                        </label>
                    </div>

                    <div class="input-form__item">
                        <div class="input-form__tittle">
                            Комментарий
                        </div>
                        <label>
                            <textarea placeholder="Словесно не ограниченное лирическое описание воспоминания"
                                      name="content" cols="40" rows="10" required id="id_content"></textarea>
                        </label>
                    </div>

                    <div class="input-form__item">
                        <div class="input-form__tittle">
                            Картинка
                        </div>
                        <label>
                            <input type="file" name="image" accept="image/*" id="id_image">
                        </label>
                    </div>

                    <div class="input-form__item">
                        <div class="input-form__tittle">
                            Геопозиция воспоминания
                        </div>
                        (жмякни на карту)
                        <label>
                            <input readonly step="any" class="input-form__coords1" type="number" name="coord1"
                                   id="id_coord1">
                            <input readonly step="any" class="input-form__coords2" type="number" name="coord2"
                                   id="id_coord2">
                        </label>
                        <div class="memory-manager__map" id="formMap" style="width: 90%; height: 400px;"></div>
                    </div>
                    <button class="input-form__submit-button" type="submit">Сохранить</button>
                </form>
            </div>


            {% if memory_list %}
                {% for memory in memory_list %}
                    <form class="places-column__item" id="memories_{{ memory.pk }}" method="post"
                          action="{% url 'map_manager:update_memories' pk=memory.pk %}">
                        {% csrf_token %}
                        <div class="places-column__action-menu">
                            <button class="places-column__edit-button">
                                ✏️
                            </button>
                            {#                            <button class="places-column__delete-button">#}
                            {#                                🗑️#}
                            {#                            </button>#}
                        </div>
                        <label>
                            <input readonly class="places-column__tittle" required maxlength="100" name="title"
                                   type="text"
                                   value="{{ memory.title }}">
                        </label>
                        <div class="places-column__img">
                            {% if memory.image %}
                                <img class="places-column__img-item" src="{{ memory.image.url }}" alt="">
                            {% endif %}
                        </div>
                        <label>
                            <input readonly class="places-column__content" required maxlength="100" name="content"
                                   type="text"
                                   value="{{ memory.content }}">
                        </label>

                        <div class="places-column__coords-manager">
                            <div class="places-column__tittle">
                                Геопозиция воспоминания
                            </div>
                            (жмякни на карту)
                            <label>
                                <input readonly value="{{ memory.coord1 }}" step="any" class="places-column__coords1"
                                       type="number" name="coord1">
                                <input readonly value="{{ memory.coord2 }}" step="any" class="places-column__coords2"
                                       type="number" name="coord2">
                            </label>
                            <div class="memory-manager__map" id="editMap_{{ memory.pk }}"
                                 style="width: 90%; height: 400px;"></div>
                        </div>

                        <button class="places-column__save-button" type="submit">Сохранить</button>
                    </form>
                {% endfor %}

            {% else %}
                <div class="places-column__item">
                    <div class="places-column__tittle">
                        “У вас нет ни одного воспоминания
                    </div>
                    <div class="places-column__img">
                        <img src="" alt="">
                    </div>
                    <div class="places-column__content">
                        Место для прекрасного воспоминания
                    </div>
                </div>
            {% endif %}
        </div>

        {% if request.user.is_authenticated %}
            <div class="memory-manager">
                <button id="new-memories-button" class="memory-manager__action-button">
                    Добавить воспоминание
                </button>
                <div class="memory-manager__map" id="mapWithPlaces" style="width: 90%; height: 400px;"></div>
            </div>
        {% else %}
            <div class="memory-manager">
                <div class="memory-manager__action-button">
                    Хочется добавить новое воспоминание? Тогда жмякай по кнопке снизу
                    <div id="VkIdSdkOneTap"></div>
                </div>
                <div class="memory-manager__map" id="mapWithPlaces" style="width: 90%; height: 400px;"></div>
            </div>
        {% endif %}
    </div>
{% endblock %}


