{% extends 'core/index.html' %}
{% load static %}



{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=В26b914ca-5401-44b0-b136-b7d9c35bb1a8&lang=ru_RU"
            type="text/javascript"></script>
    <script src="https://unpkg.com/@vkid/sdk@latest/dist-sdk/umd/index.js"></script>
    <script src="{% static 'auth_vk/js/auth_vk.js' %}"></script>
    <script type="text/javascript">
        ymaps.ready(init);

        let isPlaceMarkCreated = false
        let balun = null // контейнер, куда положим балун синглтон
        let myMap = null;

        function init() {
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 5
            });

            myMap.controls.add('zoomControl');
            myMap.controls.add('typeSelector');
            myMap.controls.add('searchControl');

            myMap.events.add('click', function (e) {
                let coords = e.get('coords');
                console.log(coords);
                if (isPlaceMarkCreated) {
                    myMap.panTo(coords, {duration: 500});
                    balun.geometry.setCoordinates(coords);
                } else {
                    addPlaceMark(coords)
                    isPlaceMarkCreated = true
                }

            });

        }

        function addPlaceMark(coords) {
            balun = new ymaps.Placemark(coords, {
                iconContent: 'Вызвать авиаудар',
                balloonContentBody: '<div><h2>Заголовок</h2><p>Это содержимое балуна с <strong>HTML</strong> разметкой.</p></div>'
            }, {
                balloonPanelMaxMapArea: 0,
                draggable: "true",
                preset: "islands#blueStretchyIcon",
                {#openEmptyBalloon: true#}
            })
            myMap.geoObjects.add(balun);
        }
    </script>
    <link rel="stylesheet" href="{% static 'map_manager/css/map.css' %}?={{ rand_num }}">
{% endblock %}
<body>

{% block content %}
    <div class="content">
        <div class="places-column">
            <div class="places-column__item">
                <div class="places-column__tittle">
                    Место для прекрасного воспоминания
                </div>
                <div class="places-column__img">
                    <img src="" alt="">
                </div>
                <div class="places-column__content">
                    Здесь могла бы быть отличное воспоминание
                </div>
            </div>
            <div class="places-column__item">
                <div class="places-column__tittle">
                    Место для прекрасного воспоминания
                </div>
                <div class="places-column__img">
                    <img src="" alt="">
                </div>
                <div class="places-column__content">
                    Здесь могла бы быть отличное воспоминание
                </div>
            </div>
        </div>
        <div class="memory-manager">
            <div class="memory-manager__action-button">
                {% if request.user.is_authenticated %}
                    Добавить воспоминание
                {% else %}
                    Хочется добавить новое воспоминание? Тогда жмякай по кнопке снизу
                    <div id="VkIdSdkOneTap"></div>
                {% endif %}
            </div>
            <div class="memory-manager__map" id="map" style="width: 90%; height: 400px;"></div>
        </div>
    </div>
{% endblock %}


